* {
          margin: 0;
          padding: 0;
}

input{
          display: block;
          margin: 20px;
          width: 200px;
}

label{
          margin-left: 20px;
          margin-top: 20px;
          margin-bottom: -15px;
          font-weight: bold;
}

input[type="submit"] {
          width: 50px;
}